#Colordiv {
    display: inline-block;
    width: 30px;
    height: 30px;
background-color: lightcoral;
}
html {
    background-color: lightcoral;
    background-image: url(https://www.webnode.hu/blog/files/Hol-tal%C3%A1lsz-k%C3%A9peket-weboldaladhoz1.jpg);
background-position: center;
}