#Colordiv {
    display: inline-block;
    width: 30px;
    height: 30px;
background-color: rgb(240, 128, 234);
}
html {
    background-color: rgb(179, 116, 216);
    background-image: url(https://finddiscount.news/img/products/11604-fotozas-hatteretujszueloett-fotozas-hatter-gyermek-studio-foto-kellekekszuerke-egyszinu-festett-foto-hatter-d-9946.jpg);
background-position: center;
background-repeat: no-repeat;
}