#Colordiv {
    display: inline-block;
    width: 30px;
    height: 30px;
background-color: lightcoral;
}
html {
    background-color: lightcoral;
    background-image: url()
background-position: center;
}